<div class="form-container form-add">
    <form action="/listado/editProduct" method="post">
        <input type="text" name="id" size="6" value={{product.id}} readonly="readonly">
        <input type="text" placeholder="Nombre del producto..." name="name" size="50" maxlength="20"
            value="{{product.name}}">
        <input type="text" placeholder="País de origen..." name="origin" size="50" maxlength="20"
            value="{{product.origin}}">
        <input type="text" placeholder="Presentación..." name="presentation" size="50" maxlength="140"
            value="{{product.presentation}}">

        <textarea placeholder="Ingrese una descripción..." name="description" rows="6" cols="48"
            maxlength="280">{{product.description}}</textarea>
        <label for="image">Id de la imagen</label>
        <input type="number" name="image" min="1" max="9999">
        <div class="radio">
            <h4>intensidad: {{product.intensity}}</h4>
            <label for="1">1</label>
            <input type="radio" name="intensity" value="1" checked="checked">
            <label for="2">2</label>
            <input type="radio" name="intensity" value="2">
            <label for="3">3</label>
            <input type="radio" name="intensity" value="3">
            <label for="4">4</label>
            <input type="radio" name="intensity" value="4">
            <label for="5">5</label>
            <input type="radio" name="intensity" value="5">
            <label for="6">6</label>
            <input type="radio" name="intensity" value="6">
            <label for="7">7</label>
            <input type="radio" name="intensity" value="7">
            <label for="8">8</label>
            <input type="radio" name="intensity" value="8">
            <label for="9">9</label>
            <input type="radio" name="intensity" value="9">
            <label for="10">10</label>
            <input type="radio" name="intensity" value="10">
            <label for="11">11</label>
            <input type="radio" name="intensity" value="11">
            <label for="11">12</label>
            <input type="radio" name="intensity" value="12">
        </div>
        <label for="price">Precio en $</label>
        <input class="price" type="number" name="price" min="1" max="9999" size="10" value="{{product.price}}">
        <div class="btn-group">
            <input type="submit" value="Cambiar" class="btn-editar">
            <a href="/listado/deleteProduct/{{product.id}}"><input class="btn-borrar" type="button" value="Borrar"></a>
            <a href="/listado"><input class="btn-go-back" type="button" value="Cancelar"></a>

        </div>
    </form>
</div>