<main>
    <div class="heading">
        <h2>Listado de Productos</h2>
    </div>

    <table>

        <thead>
            <tr class="btn-group">
                <th colspan="7">
                    <a href="/listado/addItem"><input type="button" value="Agregar" class="btn-editar"></a>
                </th>
            </tr>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>origen</th>
                <th>presentación</th>
                <th>precio</th>
                <th>imagen</th>
                <th>acciones</th>

            </tr>
        </thead>
        <tbody>
            {{#each products}}

            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{origin}}</td>
                <td>{{presentation}}</td>
                <td>$ {{price}}</td>
                <td><img src={{imageURL}} alt=""> </td>
                <td class="btn-group">
                    <a href="/listado/handleEdit/{{id}}"><input type="button" value="Borrar" class="btn-borrar"></a>
                    <a href="/listado/handleEdit/{{id}}"><input type="button" value="Editar" class="btn-editar"></a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</main>